<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Fitness Tracking</h3>
        <br>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/" data-path="/" >Home</a>
            <a class="nav-link" href="/Trainers" data-path="/Trainers" >Trainers</a>
			<a sec:authorize="isAuthenticated()" class="nav-link">
				<form th:action="@{/logout}" method="post">
				<input type="submit" class="btn btn-primary" value="Sign out">
			</form>
			</a>
			<a sec:authorize="!isAuthenticated()" href="/login" class="nav-link"> Log in
			</a>
        </nav>
    </div>
</header>
</body>
</html>